* {
    /* padding: 0;
    margin: 0;
    box-sizing: inherit; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
}

.body-div {
  padding: 0 120px;
}
/*----------------------------------------------*/
/*------------------- LOGO ---------------------*/
/*----------------------------------------------*/

.logo {
    position: relative;
    height: 100px;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75px;
    width: 150px;
}
#tagline {
  text-align: center;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.3em;
  letter-spacing: .8px;
  /* color: rgb(193, 133, 70); */
  color: #444;
  opacity: .8;
  margin: 2px 0 6px 0;
}


/*----------------------------------------------*/
/*------------------- SLIDER -------------------*/
/*----------------------------------------------*/

.slider {
    height: 500px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide:first-child {
    background-image: url(../img/adult-bridal-bride-1043902.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.slide:nth-child(2) {
    background-image: url(../img/riteofpassage.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.slide:nth-child(3) {
    background-image: url(../img/coachingnew.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.slide:nth-child(4) {
    background-image: url(../img/celebration-craft-creative-949586.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

@media (max-width: 414px) {
  .slider {
      height: 500px;
      position: relative;
      width: 100%;
      overflow: hidden;
  }

  .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
  }

  .slide.current {
      opacity: 1;
  }

  .slide:first-child {
      background-image: url(../img/adult-bridal-bride-1043902.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      height: 500px;
      width: 411px;
  }

  .slide:nth-child(2) {
      background-image: url(../img/riteofpassage.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      height: 500px;
      width: 411x;
  }

  .slide:nth-child(3) {
      background-image: url(../img/coachingnew.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      height: 500px;
      width: 411px;
  }

  .slide:nth-child(4) {
      background-image: url(../img/celebration-craft-creative-949586.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      height: 500px;
      width: 411px;
  }
}
/*----------------------------------------------*/
/*---------------- SLIDER BUTTONS --------------*/
/*----------------------------------------------*/

button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    visibility: hidden;
}

.buttons button:hover {
    background: #fff;
    color: #333;
}

/*----------------------------------------------*/
/*-------------------- MENU --------------------*/
/*----------------------------------------------*/

.menu {
    height: 100px;
    position: relative;
}


.menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.menu a {
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6em;
    color: #444;
    font-weight: bold;
    opacity: .5;
    font-family: 'Raleway', sans-serif;
}

.menu a:hover {
    opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  transition: all 1s ease;
  transform:translate(0, 0);
  opacity: 0.95;
  height: 60px;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.25);
  -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.25);

}

@media (max-width: 414px) {
  .menu a {
    font-size: 10px;
  }

  .hr-wrapper {
    padding: 0 90px;
  }

}



/*----------------------------------------------*/
/*--------------- SERVICE CARDS  ---------------*/
/*----------------------------------------------*/
#service-container-wrapper {
  /*add in*/position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*add in*/align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0 40px 0;
}

.card-title {
  display: block;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #4b4b4b;
}

.serv-cards {
  padding: 15px 25px;
  width: 25%;
  min-height: 35%;
  background-color: #CAD3C8;
  background-image: cover;
  text-align: center;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.45);
  -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.45);
  font-size: 16px;
  text-align: justify;
}

.serv-cards h2 {
    opacity: .9;
}

@media (max-width: 900px) {
  #service-container-wrapper {
    flex-direction: column;
    padding: 20px 0 40px 0;
  }
.serv-cards {
  width: 85%;
  margin: 15px 25px;
}

.hr-wrapper {
  padding: 0 90px;
}

}

/*----------------------------------------------*/
/*--------------- ABOUT SECTION  ---------------*/
/*----------------------------------------------*/
#about-wrapper {
  display: inline-flex;
  flex-wrap: nowrap;
  /* padding: 25px; */
}

#about-section {
  font-size: 16px;
  line-height: 1.6em;
  text-align: justify;
}

#about-pic {
  align-self: flex-end;
  margin-left: 25px;
}

.hr-wrapper {
  padding: 0 120px;
}

@media (max-width:414px) {
  #about-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #about-pic {
    align-items: center;
    margin-left: 10px;
  }

  .hr-wrapper {
    padding: 0 90px;
  }

}

@media (min-width: 415px, max-width: 900px) {
  #about-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #about-pic {
    align-items: center;
    margin-left: 10px;
  }

  .hr-wrapper {
    padding: 0 90px;
  }

}

/*----------------------------------------------*/
/*--------------- COACHING SECTION  ------------*/
/*----------------------------------------------*/

#coaching h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: .90;
}

#coaching h4 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  opacity: .90;
  padding-top: 15px;
}

#coaching h5 {
  padding-top: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  opacity: .90;
}

#coaching ul li {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  border-left: 2px solid #000000;
  padding-left: 15px;
}

#coaching p {
  margin: 15 40px auto 40px;
  font-size: 16px;
  line-height: 1.6em;
}

@media (max-width:414px) {
  .body-div {
    padding: 0 50px;
  }

  #coaching p {
    text-align: justify;
  }
}

/*----------------------------------------------*/
/*----------------- Q&A SECTION  ---------------*/
/*----------------------------------------------*/

#qa h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: .90;
}

.qa-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

#qa ul {
  margin: 30px 0;
  padding: 0;
}

#qa ul li {
  list-style: none;
  text-align: left;
  padding: 0px;
  font-size: 16px;
  line-height: 1.6em;
}

#qa li:nth-child(even) {
  font-weight: bold;
  opacity: 0.85;
  margin-bottom: 10px;
}
.qa {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px auto;
}
[data-toggle~="collapse"] {
  cursor: pointer;
}
.panel-default>.panel-heading-custom {
  background: #cad3c8;
}
.panel-body {
  font-size: 16px;
}

/*----------------------------------------------*/
/*--------------- CONTACT SECTION  -------------*/
/*----------------------------------------------*/
#contact {
  background: #CAD3C8;
  padding: 80px 0;
  position: relative;
}
.contact-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  /* background-color: #03C4EB; */
  background-color: white;
  color: black;
}

.contactform-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.contactform-description {
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40px;
  font-size: 16px;
}

.contactform-title-divider {
  text-align: center;
  width: 50px;
  height: 3px;
  background: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}


#contact .info {
  color: #333333;
}



#contact .form button[type="submit"] {
  background: #03C4EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #25d8fc;
}
/* Color of Font Awesome icons */
/* .fas .fab {
  color: #03C4EB;
} */

#contact-submit {
display: inline-block;
background-color:#03C4EB;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:1px;
padding: 5px 15px;
}

#contact-submit:hover {
cursor: pointer;
opacity: .8;
}
.error {
  color: red;
  font-weight: bolder;
}
.valid {
  color: green;
  font-weight: bolder;
}

/*----------------------------------------------*/
/*------------ SOCIAL MEDIA BUTTONS  -----------*/
/*----------------------------------------------*/

.social-icon ul {
  text-align: center;

}

.social-icon li {
  display: inline-block;
  list-style: none;
  float: center;
  padding-left: 15px;
  padding-top: 15px;
}

.fab {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fab: hover, .fas: hover {
	opacity: 0.7;
}
.fas {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa-facebook {
	background: #CAD3C8;
	color: white;
}

.fa-twitter {
  background: #CAD3C8;
  color: white;
}
.fa-street-view {
  background: #CAD3C8;
  color: white;
}
.fa-phone {
  background: #CAD3C8;
  color: white;
}

@media (max-width: 414px) {
  .fab {
    font-size: 20px;
  }
  .fas {
    font-size: 20px;
  }

}

/*----------------------------------------------*/
/*--------------- Media Queries  ---------------*/
/*----------------------------------------------*/

/*@media (max-width: 375px) {
    .about-section,
    .services-section,
    #qa-section,
    .contact-section {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto 50px auto;
    color: #444;
    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
    }
    .menu a {
    font-size: 1.1em;
  }
}*/

/* @media (max-width: 500px) { */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .slide {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }

    .menu {
        position: relative;
        /* display: inline; */
        white-space: nowrap;
    }

    #service-container-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-content: space-around;
      padding: 0;
    }

    .serv-cards {
      width: 90%;
      margin-bottom: 15px;
    }

    .body-div, .hr-wrapper {
      padding: 0 10px;
    }

    #about-wrapper {
      display: flex;
      flex-direction: column;
    }

    #about-texts {
      display: block;
    }

    #about-pic {
      align-self: center;
      width: 60%;
      display: block;
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      /* background-color: white; */
      z-index: 1;
      transition: all 1s ease;
      transform:translate(0, 0);
      opacity: 0.95;
      /* height: 60px; */
      box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.25);
      -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.25);
      -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.25);

    }


}
